.intro
  min-height: 100vh
  width: 100%
  position: relative
  overflow: hidden

  #ytplayer
    min-width: 100%
    height: 100vh

  .intro__cover
    position: absolute
    top: 0
    left: 0
    opacity: 0.5
    background:
      image: url(../img/intro-cover.svg)
      repeat: no-repeat
      size: cover
      position: center center
    width: 100%
    height: 100%


.blank-space
  height: 100vh
  width: 100%