.music
  background:
    image: url(../img/music.jpg)

.music__container
  display: flex
  flex-wrap: wrap

.music__item
  display: flex
  flex-direction: column
  justify-content: center
  margin-bottom: 80px
  position: relative

  @media screen and (min-width: $bp-medium)
    width: calc((100% - 120px) / 3)
    &:not(:nth-child(3n))
      margin-right: 60px

.music__btn
  width: 150px
  transform: translate3d(0, 3000px, 0)
  &.is-visible
    animation: bounceInUp 1s ease-in-out forwards

.music__block
  font-size: 0
  .music__control.fa
    font-size: 3rem
    color: $purple-sh
  position: relative
  margin-bottom: 20px

  transform: perspective(400px) rotate3d(1, 0, 0, 90deg)

  &.is-visible
    animation: flipInX 1s ease-in-out forwards


  iframe
    position: absolute
    z-index: -100
    opacity: 0

.music__progerss-bar,
.music__progerss-bar-pseudo
  display: block
  width: 0
  height: 10px
  background-color: $pink-sh
  +position(absolute, null null -10px 0)

.music__progerss-bar-pseudo
  width: calc(100% - 10px)
  background-color: transparent
  cursor: pointer

.music__volume,
.music__volume-pseudo
  display: block
  width: 10px
  height: 70%
  background-color: $green-sh
  +position(absolute, calc(100% + 10px) null null 0px)
  transform: rotate(180deg)
  transform-origin: left top

.music__volume-pseudo
  height: 100%
  background-color: transparent
  cursor: pointer

.music__control
  +position(absolute, calc(50% - 1rem) calc(50% - 1rem) null null)

.music__time_1,
.music__time_2
  color: white
  font-size: 0.8rem
  padding: 2px 5px
  +position(absolute, null null 0 0)
  background-color: $pink-sh
  opacity: 0
  transition: all 0.3s

  &.show
    opacity: 1

.music__time_2
  left: auto
  right: 0

.music__volume_ico
  &.fa
    font-size: 1rem

  +position(absolute, 10px calc(100% + 10px) null null)
  background-color: $green-sh
  opacity: 1
  padding: 2px 5px
  color: white
