.news
  background:
    image: url(../img/news.jpg)

.news__feed
  display: flex
  flex-wrap: wrap
  align-items: flex-start

.news__block
  padding: 15px
  font-weight: 100
  font-size: 1rem
  position: relative
  margin-bottom: 50px
  z-index: 2
  @media screen and (min-width: $bp-medium)
    margin-right: 50px

  transform: translate3d(0, 3000px, 0)
  &.is-visible
    animation: bounceInUp 0.5s ease-in-out forwards

.news__date,
.news__text,
.news__tags
  margin-top: 15px