.video
  background:
    image: url(../img/video.jpg)

main.video
  @media screen and (max-width: $bp-medium)
    background:
      position-x: -700px
  @media screen and (max-width: $bp-small)
    background:
      position-x: -700px

