/*******************************/
/***       BASE STYLES       ***/
/*******************************/

/***         LAYOUT        ***/

*
  box-sizing: border-box

.flex-row
  display: flex
  flex-direction: row

.flex-column
  display: flex
  flex-direction: column

/***         GRID        ***/

//desktop styles
@for $i from 1 through 12
  .col-#{$i}
    width: calc(100% / 12 * #{$i})


//mobile styles
@media screen and (max-width: $bp-sm)
  @for $i from 1 through 12
    .col-sm-#{$i}
      width: calc(100% / 12 * #{$i})


/***         IMAGES        ***/

img
  width: 100%
