/*******************************/
/***       TYPOGRAPHY        ***/
/*******************************/

/***    FONTS    ***/
html
  font-family: "Montserrat", sans-serif



/***    ELEMENTS STYLES    ***/

html
  font-size: 100%

html, a:link, a:visited
  color: white

a:link, a:visited
  text-decoration: none





h1, h2
  text-transform: uppercase
  font-size: 6.8rem
  transform: rotate(-90deg)
  line-height: 4.8rem
  z-index: 3
  @media screen and (min-width: $bp-medium)
    font-size: 9rem
    line-height: 6.5rem


.text__shade
  display: inline
  font-size: 1.5rem
  line-height: 2.5rem
  font-weight: 400
  @media screen and (min-width: $bp-medium)
    font-size: 1.8rem
    line-height: 3rem



*::selection, span::selection, a::selection
  background-color: $selection-color
  color: $text-color-invert