/*******************************/
/***       TYPOGRAPHY        ***/
/*******************************/

/***    FONTS    ***/
html
  font-family: "Montserrat", sans-serif



/***    ELEMENTS STYLES    ***/

html
  font-size: 100%

html, a:link, a:visited
  color: white

a:link, a:visited
  text-decoration: none







h1, h2, h3
  text-transform: uppercase


.text__shade
  display: inline
  font-size: 1.5rem
  line-height: 2.5rem
  font-weight: 400
  @media screen and (min-width: $bp-medium)
    font-size: 1.8rem
    line-height: 3rem

/***    ARTICLE HEADINGS    ***/
.contact__block h1
  font-size: 1.8rem
  display: inline
  margin-bottom: 14px
  line-height: 4rem

.contact__block p,
.contact__block a
  font-size: 1.5rem


/***    PAGE & SECTIONS HEADINGS    ***/

.home__tour__heading,
.home__release__heading,
.home__video__heading,
.tour__heading,
.news__heading,
.contact__heading,
.gallery__heading,
.bio__heading,
.music__heading,
.video__heading
  font-size: 6.8rem
  transform: rotate(-90deg)
  transform-origin: right top
  line-height: 4.8rem
  z-index: 3
  text-align: right
  @media screen and (min-width: $bp-medium)
    font-size: 9rem
    line-height: 6.5rem

.home__tour__heading,
.home__release__heading,
.home__video__heading,
.tour__heading,
.news__heading,
.contact__heading,
.gallery__heading,
.bio__heading,
.music__heading,
.video__heading

  +position(absolute, 25vh 6.8rem null null)
  @media screen and (min-width: $bp-small)
    width: 600px
    top: 120px
    right: calc(6.8rem + 20px)
  @media screen and (min-width: $bp-medium)
    width: 700px
    right: calc(6.5rem + 40px)
    top: 120px

.home__tour__heading,
.home__release__heading,
.home__video__heading
  right: 11rem
  @media screen and (min-width: $bp-medium)
    right: 16rem


.home__release__heading
  top: 15vh

.tour__heading,
.bio__heading,
.music__heading,
.video__heading,
.contact__heading,
.gallery__heading
    @media screen and (min-width: $bp-small)
      position: fixed


*::selection, span::selection, a::selection
  background-color: $selection-color
  color: $text-color-invert