/***    COLORS    ***/
$link-color: white

$green: #19DAAE
$green-sh: rgba(22, 168, 135, 0.8)

$greenblue: #0BAEBE
$greenblue-sh: rgba(16, 112, 122, 0.8)

$pink: #F62399
$pink-sh: rgba(210, 21, 127, 0.8)

$purple: #99269E
$purple-sh: rgba(111, 28, 114, 0.8)


$primary-color: #4b286d
$secondary-color: #248700

$accent-color: #b0a6d4
$bg-color: #FFFFFF
$bg-transp: rgba(255, 255, 255, 0.9)

$selection-color: $primary-color

$text-color-normal: #595859
$text-color-dark: #595859
$text-color-light: #9c9c9c
$text-color-invert: #FFFFFF







/***    BREAKPOINTS    ***/
$bp-small: 450px
$bp-medium: 780px
$bp-large: 960px
