/*******************************/
/***         COLORS         ***/
/*******************************/

/***    GREEN    ***/

.sidebar,
.contact__block p,
.contact__block a,
.contact__input-block,
.contact__form .input-group label
  background-color: $green
  &:before,
  &:after
    background-color: $green-sh

.contact__block p,
.contact__block a
  box-shadow: -10px 10px 0px $green-sh


/***    PURPLE    ***/

.logo,
.home__release .btn,
.home__release .text__shade
  background-color: $purple

.logo:before,
.logo:after,
.home__release .btn:before,
.home__release .btn:after
  background-color: $purple-sh

.home__release__heading
  text-shadow: -10px -10px 0px $purple-sh

.home__release .text__shade,
.home__release__cover
  box-shadow: -10px 10px 0px $purple-sh


/***    GREENBLUE    ***/

.home__tour .text__shade,
.tour__event__block
  background-color: $greenblue


.home__tour .text__shade,
.tour__event__block
  box-shadow: -10px 10px 0px $greenblue-sh

.home__tour__heading,
.tour__heading
  text-shadow: -10px -10px 0px $greenblue-sh


/***    PINK    ***/
.home__tour .btn,
.home__video .text__shade,
.tour .btn-alt,
.contact .btn__send
  background-color: $pink

.home__tour .btn:before,
.home__tour .btn:after,
.tour .btn-alt:after,
.tour .btn-alt:before,
.contact .btn__send:before,
.contact .btn__send:after
  background-color: $pink-sh

.home__video__heading
  text-shadow: -10px -10px 0px $pink-sh

.home__video .text__shade,
.home__video .flex-video
  box-shadow: -10px 10px 0px $pink-sh


/***    BLUE    ***/
.news__block,
.gallery .btn__prev,
.gallery .btn__next
  background-color: $blue

.gallery .btn__prev:before,
.gallery .btn__prev:after,
.gallery .btn__next:before,
.gallery .btn__next:after
  background-color: $blue-sh

.news__block
  box-shadow: -10px 10px 0px $blue-sh

/***    DARKBLUE    ***/

.news__heading
  text-shadow: -10px -10px 0px $darkblue-sh

/***    GREY    ***/

.btn.disabled,
.contact .btn__cancel
  background-color: $grey

.disabled.btn:before,
.disabled.btn:after,
.contact .btn__cancel:before,
.contact .btn__cancel:after
  background-color: $grey-sh


/***    YELLOW    ***/

.contact__block h1
  background-color: $yellow

.contact__heading
  text-shadow: -10px -10px 0px $yellow-sh

.contact__block h1
  box-shadow: -10px 10px 0px $yellow-sh


/***    CRIMSON    ***/

.gallery__caption
  background-color: $crimson

.gallery__heading
  text-shadow: -10px -10px 0px $crimson-sh

.gallery__slider img,
.gallery__caption
  box-shadow: -10px 10px 0px $crimson-sh
