/*******************************/
/***         COLORS         ***/
/*******************************/

/***    GREEN    ***/

.sidebar
  background-color: $green

  &:before,
  &:after
    background-color: $green-sh


/***    PURPLE    ***/

.logo,
.home__release .btn,
.home__release .text__shade
  background-color: $purple

.logo:before,
.logo:after,
.home__release .btn:before,
.home__release .btn:after
  background-color: $purple-sh

.home__release__heading
  text-shadow: -10px -10px 0px $purple-sh

.home__release .text__shade,
.home__release__cover
  box-shadow: -10px 10px 0px $purple-sh


/***    GREENBLUE    ***/

.home__tour .text__shade,
.tour__event__block

  background-color: $greenblue


.home__tour .text__shade,
.tour__event__block
  box-shadow: -10px 10px 0px $greenblue-sh

.home__tour__heading,
.tour__heading
  text-shadow: -10px -10px 0px $greenblue-sh


/***    PINK    ***/
.home__tour .btn,
.home__video .text__shade,
.tour .btn-alt
  background-color: $pink

.home__tour .btn:before,
.home__tour .btn:after,
.tour .btn-alt:after,
.tour .btn-alt:before
  background-color: $pink-sh

.home__video__heading
  text-shadow: -10px -10px 0px $pink-sh

.home__video .text__shade,
.home__video .flex-video
  box-shadow: -10px 10px 0px $pink-sh


/***    GREY    ***/
.btn.disabled
  background-color: $grey

.disabled.btn:before,
.disabled.btn:after
  background-color: $grey-sh
