/***    LINK TEXT    ***/

.navbar,
.navbar__link:active,
.navbar__link:visited,
.btn
  text-transform: uppercase
  color: $link-color
  text-decoration: none



/***    LEFT SHADES    ***/

.sidebar,
.logo,
.home__tour .btn,
.home__release .btn,
.contact__input-block,
.contact .btn,
.gallery .btn__prev,
.gallery .btn__next
  &:before, &:after
    content: ""
    display: block

  &:before
    height: 100%
    width: 700px
    +position(absolute, 0px null null -700px)
    transform: skewY(-45deg)
    transform-origin: right top

  &:after
    width: 100%
    height: 700px
    +position(absolute, null null -700px 0px)
    transform: skewX(-45deg)
    transform-origin: left top

/***    RIGHT SHADES    ***/

.contact__input-block,
.contact .btn,
.gallery .btn__next
  &:before
    transform: skewY(45deg)
    left: 100%
    top: 700px

  &:after
    transform: skewX(45deg)




/***    SECTIONS    ***/
.intro,
.home__tour,
.home__release,
.home__video,
.tour,
.news,
.contact,
.gallery,
.bio,
.music,
.video
  min-height: 100vh
  width: 100%
  position: relative
  overflow: hidden


/***    SECTION BACKGROUND    ***/
.intro__cover,
.home__tour,
.home__release,
.home__video,
.tour,
.news,
.contact,
.gallery,
.bio,
.music,
.video
  background:
    repeat: no-repeat
    size: cover
    position: center center
    attachment: fixed