.news-list__image {
    width: 100px;
}

.news-list__date {
    min-width: 100px;
}

.news-one__image {
    margin-top: 20px;
    width: 200px;
}

.image__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image__thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
    min-height: 160px;
}
.image__thumb img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.image__add {
    text-align: center;
}