mixin news(image, date, text)
  .news__block.col-lg-5
    img(src="img/news/news_#{image}.jpg")
    p.news__date #{date}
    p.news__text #{text}
    p.news__tags #hashtag #hashtag #hashtag

doctype html
html(lang="en")
  head
    include modules/_head

  body

    include modules/_header

    section.news
      h2.news__heading News
      .push-down-100vh-sm.visible-sm
      .push-down-20vh-md.visible-md
      .push-down-15vh-lg.visible-lg
      .flex-row
        .col-2.col-md-3.col-lg-3
        .col-9.col-md-5.col-lg-7.news__feed
          +news('1', 'June 23rd, 2017', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ullamcorper iaculis faucibus. Maecenas odio massa, fermentum vitae magna et, accumsan molestie sem. Nulla tempor leo eu nunc sollicitudin, ut blandit sapien vehicula.')
          +news('2', 'June 21st, 2017', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
          +news('3', 'June 17th, 2017', 'Proin ullamcorper iaculis faucibus. Maecenas odio massa')
          +news('4', 'June 12ve, 2017', 'Maecenas odio massa, fermentum vitae magna et, accumsan molestie sem. Nulla tempor leo eu nunc sollicitudin.')
          +news('5', 'June 4th, 2017', 'Maecenas odio massa, fermentum vitae magna et, accumsan molestie sem. Nulla tempor leo eu nunc sollicitudin, ut blandit sapien vehicula.')
          +news('6', 'May 30th, 2017', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')

      //.blank-space


    include modules/_footer




