mixin event(date, venue, city, btnClass)
  .tour__event
    .tour__event__block.col-lg-9
      .col-lg-2
        p.tour__date.text__shade #{date}
      .col-lg-4
        p.tour__venue.text__shade #{venue}
      .col-lg-4
        p.tour__city.text__shade #{city}
    .col-lg-2
      a.btn.btn-md(href="#" class="#{btnClass}") Tickets


doctype html
html(lang="en")
  head
    include modules/_head

  body

    include modules/_header

    main.tour
      h1.tour__heading Tour
      .push-down-100vh-sm.visible-sm
      .push-down-30vh-md.visible-md
      .push-down-30vh-lg.visible-lg
      .flex-row
        .col-2.col-md-3.col-lg-2
        .col-9.col-md-5.col-lg-7
          +event('JUL 03', 'XS NIGHTCLUB', 'LAS VEGAS, NV', 'btn-alt')
          +event('JUL 03', 'MAD DECENT BLOCK PARTY', 'PHILADELPHIA, PA', 'btn-alt')
          +event('JUL 03', 'VALLEY ROCK MUSIC & ARTS FESTIVAL', 'INCHEON, SOUTH KOREA', 'btn-alt disabled')
          +event('JUL 03', 'VALLEY ROCK MUSIC & ARTS FESTIVAL', 'INCHEON, SOUTH KOREA', 'btn-alt')
          +event('JUL 03', 'VALLEY ROCK MUSIC & ARTS FESTIVAL', 'INCHEON, SOUTH KOREA', 'btn-alt')
          +event('JUL 03', 'VALLEY ROCK MUSIC & ARTS FESTIVAL', 'INCHEON, SOUTH KOREA', 'btn-alt')



    include modules/_footer




