mixin video__block ()
  .video__block


doctype html
html(lang="en")
  head
    include modules/_head

  body

    include modules/_header

    main.video
      h1.video__heading Video
      .push-down-100vh-sm.visible-sm
      .push-down-30vh-md.visible-md
      .push-down-20vh-lg.visible-lg
      .flex-row
        .col-2.col-md-3.col-lg-2
        .col-9.col-md-6.col-lg-6


  include modules/_footer




