.logo.is-visible
  .logo__container
    img(src="img/logo.svg")

nav.sidebar.flex-column.is-visible
  .sidebar__mobile-control.visible-sm

  ul.navbar
    li.navbar__item: a.navbar__link.active(href="#") Home
    li.navbar__item: a.navbar__link(href="#") Tour
    li.navbar__item: a.navbar__link(href="#") Bio
    li.navbar__item: a.navbar__link(href="#") Music
    li.navbar__item: a.navbar__link(href="#") Gallery
    li.navbar__item: a.navbar__link(href="#") Video
    li.navbar__item: a.navbar__link(href="#") News
    li.navbar__item: a.navbar__link(href="#") Contact

  .social-media
    .flex-row
      a.fa.fa-facebook.fa-lg(href="https://www.facebook.com/" target="_blank")
      a.fa.fa-instagram.fa-lg(href="https://www.instagram.com/" target="_blank")
    .flex-row
      a.fa.fa-youtube-play.fa-lg(href="https://www.youtube.com/" target="_blank")
      a.fa.fa-spotify.fa-lg(href="https://www.spotify.com/" target="_blank")
    .flex-row
      a.fa.fa-soundcloud.fa-lg(href="https://www.soundcloud.com/" target="_blank")
      a.fa.fa-music.fa-lg(href="https://www.apple.com/ca/music/" target="_blank")