title MikeM | DJ
meta(charset="utf-8")
meta(name="viewport", content="with=device--width, initial-scale=1")
meta(name="description", content="This is a student exercise website for the Vancouver Institute of Media Arts")

link(rel="shortcut icon" type="image/ico" href="/favicon.ico")

link(rel="stylesheet", href="css/main.css")
link(href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700" rel="stylesheet")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
script(src="https://use.fontawesome.com/4567abeb9b.js")