/*******************************/
/***         BUTTONS         ***/
/*******************************/


//general styles

.btn
  font-weight: 500
  cursor: pointer
  position: relative
  &, &:before, &:after
    transition: filter 0.3s linear

  &:hover
    filter: hue-rotate(45deg)

  &.disabled
    pointer-events: none
    cursor: default

//sizes

.btn-md
  padding: 0.8rem 2rem
  font-size: 1rem


// colors

.btn-alt
  &:before, &:after
    content: ""
    display: block

  &:before
    height: 100%
    width: 20px
    +position(absolute, 0px null null -20px)
    transform: skewY(-45deg)
    transform-origin: right top

  &:after
    width: 100%
    height: 20px
    +position(absolute, null null -20px 0px)
    transform: skewX(-45deg)
    transform-origin: left top
