.logo
  width: 240px
  z-index: 1
  +position(absolute, 40px null null calc(50% - 120px))
  transform: translate(-500px, 500px)
  transition: all 1s ease-out

  &.is-visible
    transform: translate(0, 0)
    @media screen and (min-width: $bp-small)
      animation: slideIn 1s 0.2s ease-in-out forwards

  @media screen and (min-width: $bp-small)
    position: fixed
    top: 70px
    left: 30px
    width: 130px
  @media screen and (min-width: $bp-medium)
    left: 90px

  &.logo__home
    top: calc(100vh + 40px)
.logo__container
  padding: 10px