/*******************************/
/***        NAV BAR          ***/
/*******************************/

/***    SIDEBAR    ***/

.sidebar
  position: fixed
  z-index: 10
  top: 10vh
  left: -100px
  width: 120px
  height: 80vh
  padding: 10px 12px 20px 0
  justify-content: space-between
  align-items: flex-end
  transition: left 0.6s cubic-bezier(0.65,-0.24, 0.41, 1.4)
  transform: translate3d(-3000px, 0, 0)


  &.is-visible
    animation: bounceInLeft 1s ease-in-out forwards
    @media screen and (min-width: $bp-small)
      animation: slideIn 1s ease-in-out forwards

  &.is-open
    left: calc(50% - 60px)

  @media screen and (min-width: $bp-small)
    top: 150px
    left: 30px
    height: auto
    min-height: 60vh

  @media screen and (min-width: $bp-medium)
    left: 90px


/***    CONTROL FOR MOBILE DEVICES    ***/

.sidebar__mobile-control
  display: block
  width: 30px
  height: 30px
  +position(absolute, calc(50% - 15px) -30px null null)
  background-color: $green

  &:before
    content: ""
    display: block
    border-top: 8px solid transparent
    border-bottom: 8px solid transparent
    border-left: 8px solid white
    +position(absolute, calc(50% - 8px) calc(50% - 4px) null null)
    transition: all 0.6s linear

  &:after
    content: ""
    display: block
    border-top: 21px solid transparent
    border-bottom: 21px solid transparent
    border-left: 21px solid $green-sh
    +position(absolute, 16px 12px null null)
    transform: rotate(-135deg)

  &.is-open
    &:before
      transform: rotateY(180deg)




/***    NAVIGATION    ***/

.navbar
  text-align: right
  list-style-type: none
  font-size: 1rem
  font-weight: 300

.navbar__item
  position: relative

.navbar__link
  display: block
  padding: 10px

  &:after
    content: ""
    display: block
    +position(absolute, 10px -2px null null)
    height: 0
    width: 4px
    background-color: $link-color
    transition: all 0.5s

  &:hover:after,
  &.active:after
    height: calc(100% - 20px)


/***    SOCIAL MEDIA BLOCK    ***/

.social-media
  margin-top: 40px
  padding-right: 10px
  text-align: right

  .flex-row
    justify-content: space-between

    &:not(:last-of-type)
      margin-bottom: 15px

    a
      width: 35px



